<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Spick & Span</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    Spick & Span
                </a>
            </div>

            <ul class="nav">
                <li >
                    <a href="http://localhost:8080/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
								<li class="active">
                    <a href="http://localhost:8080/user">
                        <i class="pe-7s-user"></i>
                        <p>Users</p>
                    </a>
                </li>

								<li >
										<a href="http://localhost:8080/messaging">
												<i class="pe-7s-news-paper"></i>
												<p>Messaging</p>
										</a>
								</li>
            <!--    <li>
                    <a href="table.html">
                        <i class="pe-7s-note2"></i>
                        <p>Table List</p>
                    </a>
                </li>

                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Icons</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>-->
            <!--    <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li> -->
				<!--<li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>-->
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                  <!--  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                    <a class="navbar-brand" href="#"> <i class="fa fa-dashboard"> </i> Dashboard</a>
                </div>
            <!--  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

								<p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-users"></i>
                                    <b class="caret hidden-sm hidden-xs"></b>
                                    <span class="notification hidden-sm hidden-xs">5</span>
									<p class="hidden-lg hidden-md">
										4 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                           <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Dropdown
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
					</ul>
                </div>

								  <ul class="nav navbar-nav navbar-right">
								<li>
										<a href="#">
												<p>Log out</p>
										</a>
								</li>
							</ul>-->
            </div>
        </nav>


				<div class="content">
						<div class="container-fluid">
								<div class="row">
										<div class="col-md-8">
												<div class="card">
														<div class="header">
																<div class="dropdown">
																			<a href="javascript:showall();" class="dropdown-toggle" data-toggle="dropdown">
																						<p onclick="javascript:showall();" id="current_doc"><i class="fa fa-users"> </i>	Staff	<b class="caret"></b></p>
																			</a>
																			<ul class="dropdown-menu" id="myDropdown">
																			</ul>
																</div>
														</div>
											<div class="content">

																<div class="card">
																		<div class="header">
																				<h4 class="title">Compliance Statistics</h4>
																				<p class="category">Lastest Performance</p>
																		</div>
																		<div class="content">
																				<div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>


																				<div class="footer">
																						<div class="legend">
																								<i class="fa fa-circle text-info"></i> Compliant
																								<i class="fa fa-circle text-danger"></i> Non-Compliant
																								<i class="fa fa-circle text-warning"></i> Unknown
																						</div>
																						<!--<hr>
																						<div class="stats">
																								<i class="fa fa-clock-o"></i> Campaign sent 2 days ago
																						</div>-->
																				</div>
																		</div>
																</div>

														</div>
												</div>
										</div>
										<div class="col-md-4" style="display: none;" id="profile_pane">
												<div class="card card-user">
														<div class="image">
																<img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
														</div>
														<div class="content">
																<div class="author">
																		 <a href="#">
																		<img class="avatar border-gray" src="/img/default-avatar.png" alt="..."/>

																			<h4 class="title" id="doctor_name">Dr Derek Shepherd<br />
																				<!-- <h6 id="doc_id_small">dshepherd26</h6> -->
																			</h4>
																		</a>
																</div>
																<p class="description text-center" id="doctor_rate"> "It's a beautiful day to save lives"  <br>
																										"I'm supposed to be Chief." <br>

																</p>
																</div>
														<hr>
														<div class="text-center">
																<button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
																<button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>

																<button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
																<button onclick="javascript:newmessage();" class="btn btn-simple"><i class="fa fa-envelope"></i></button>


														</div>
												</div>
										</div>

								</div>
						</div>
				</div>


        <footer class="footer">
      <!--      <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div> -->
						<p class="copyright pull-right"> Clean hands are safe hands</p>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="js/demo.js"></script>
<script type="text/javascript" src="js/socket.io.js"></script>
	<script type="text/javascript">
			var socket;
    	$(document).ready(function(){

				socket = io();
				init_dropdown();
				socket.emit('hospital_rate',{});
				socket.emit('initusers',{});

					makeChart(40,30,20);


        	$.notify({
            	icon: 'pe-7s-graph',
            	message: "Welcome to <b>Spick & Span User!</b>"

            },{
                type: 'info',
                timer: 4000
            });


						socket.on('message_client', function(data) {
							alert(data);

						});
						socket.on('user_list', function(data) {

							var list = data.userlist;
							populate_dropdown(list);

						});

						socket.on('hosresult', function(data) {

							var yes = parseInt(data.yes);
							var all = parseInt(data.total);

							var compliance = (yes/all)*100;

							makeChart(compliance, 100-compliance ,0);



						});
						socket.on('cleanresult', function(data) {
							var yes = parseInt(data.yes);
							var all = parseInt(data.total);

							var compliance = (yes/all)*100;

							makeChart(compliance, 100-compliance ,0);

							var drate = document.getElementById("doctor_rate");

							drate.innerHTML= "Hand hygiene compliance "+compliance.toFixed(2)+"%";

						});


    	});

			function newmessage()
			{

				socket.emit('testrun',{id: 13579});
				window.location = 'http://localhost:8080/messaging';
			}

function init_dropdown()
{
	var dd = document.getElementById("myDropdown");


	var li1 = document.createElement("LI");

	var inp = document.createElement("INPUT");
	inp.setAttribute("type","text");
	inp.setAttribute("placeholder","Search");
	inp.setAttribute("id","myInput");
	inp.setAttribute("onkeyup","filterFunction();")

	li1.appendChild(inp);
	dd.appendChild(li1);

	var li2 = document.createElement("LI");

	var a = document.createElement("A");
	var aatt = document.createAttribute("href");
	aatt.value= "javascript:allstaff();";
	a.setAttributeNode(aatt);
	a.innerHTML = "Staff";

	li2.appendChild(a);
	dd.appendChild(li2);


}

function makeChart(val1,val2,val3)
{
	if(val2 ==0)
	{
		Chartist.Pie('#chartPreferences', {
			labels: [val1.toFixed(2)+'%'],
			series: [val1, val2]
		});

	}
	else {


	Chartist.Pie('#chartPreferences', {
		labels: [val1.toFixed(2)+'%',val2.toFixed(2)+'%'],
		series: [val1, val2]
	});
}
}
function populate_dropdown(name)
{
	var ul = document.getElementById("myDropdown");
	var new_li = document.createElement("LI");

	var newa = document.createElement("A");
	var aatt = document.createAttribute("href");
	aatt.value= "javascript:switchuser('"+name+"');";
	newa.setAttributeNode(aatt);
	newa.innerHTML = name;

	new_li.appendChild(newa);
	ul.appendChild(new_li);

}

function allstaff()
{
		var ppane=  document.getElementById("profile_pane");
		ppane.style.display="none";
		var curr = document.getElementById("current_doc");
		curr.innerHTML = '<i class="fa fa-users"> </i> Staff <b class="caret"></b>';
		socket.emit('hospital_rate',{});
		//makeChart(65,25,10);
}
function switchuser(name)
{
	var curr = document.getElementById("current_doc");
	curr.innerHTML = '<i class="fa fa-users"> </i> '+name+ ' <b class="caret"></b>';

	// fetch appropriate data from database
	displayuser(name);

}

function displayuser(name)
{

 	var ppane=  document.getElementById("profile_pane");
	var dname = document.getElementById("doctor_name");
	//var did = document.getElementById("doc_id_small");

	dname.innerHTML = "Dr " +name;
	//did.innerHTML= "ari0989";
	ppane.style.display="";

	socket.emit('cleancount',{doctor_name:name});


}
function showall() {
	div = document.getElementById("myDropdown");
	li = div.getElementsByTagName("li");
	for( i =0;i<li.length;i++)
	{
		li[i].style.display = "";
	}

}

function filterFunction() {
    var input, filter, ul, li, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    li = div.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        if (li[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function message()
{

	var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "http://localhost:8080/messaging");

    form._submit_function_ = form.submit;

var id_number = 24687; //document.getElementById("doctor_id").innerHTML;

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "doctorid");
            hiddenField.setAttribute("value", id_number);

            form.appendChild(hiddenField);

    document.body.appendChild(form);
    form._submit_function_();

//document.body.innerHTML += '<form id="dynForm" action="http://localhost:1000/messaging" method="post"><input type="text" name="doctorid" value="999999"></form>';
//document.getElementById("dynForm").submit();
 //document.body.removeChild("dynForm");
}



	</script>

</html>
